Repository ShishirPatil/gorilla, pull requests merged in 2024-09, with the labels that each got.

#600 [BFCL] Dataset and Possible Answer Fix
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/data/BFCL_v2_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v2_parallel.json
  berkeley-function-call-leaderboard/data/BFCL_v2_parallel_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v2_simple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v2_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v2_parallel.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v2_parallel_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v2_simple.json
Labels: BFCL-Dataset

#616 Add Salesforce xLAM model series
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#623 [BFCL] Fix Decoding Issue in Nvidia Handler
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/model_handler/arctic_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/nvidia_handler.py
Labels: BFCL-General

#626 [BFCL] Fix Llama Handler
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/model_handler/llama_handler.py
Labels: BFCL-General

#612 [BFCL] Refactor Model Handler into OSS and Proprietary Components
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/apply_function_credential_config.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_python_function.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/__init__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/deepseek.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/gemma.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/glaive.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/glm.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/granite.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/hammer.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/hermes.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/llama.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/salesforce.py
  berkeley-function-call-leaderboard/bfcl/model_handler/parser/__init__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/parser/java_parser.py
  berkeley-function-call-leaderboard/bfcl/model_handler/parser/js_parser.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/__init__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/cohere.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/databricks.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/fireworks.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/functionary.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gorilla.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/mistral.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/nexus.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/nvidia.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/openai.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/yi.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/openfunctions_evaluation.py
Labels: BFCL-General

#636 [BFCL] Hot Fix to Remove Extra Parameters for NoAPIKeyError
  berkeley-function-call-leaderboard/apply_function_credential_config.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_python_function.py
Labels: BFCL-General

#639 [BFCL] Leaderboard Update, in sync with #600, #608, #616, #623, #626, #627, #635, and #638.
  assets/blog12_chart_data.json
  data_combined.csv
  data_live.csv
  data_non_live.csv
  index_live.js
  index_main.js
  leaderboard.html
  leaderboard_live.html
  treemap_live.js
  treemap_main.js
Labels: BFCL-Website

#635 [BFCL] Add New Model `o1-preview-2024-09-12` and `o1-mini-2024-09-12`
  .gitignore
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/custom_exception.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/openai.py
  berkeley-function-call-leaderboard/function_credential_config.json
Labels: BFCL-New Model

#645 [BFCL] Add Blog 13: BFCL V3: Introducing Multi-Turn & Multi-Step Function Calling
  assets/img/blog_post_13_cover.png
  assets/img/blog_post_13_data_collection.png
  assets/img/blog_post_13_data_composition.png
  assets/img/blog_post_13_data_stat_step.png
  assets/img/blog_post_13_data_stat_tool.png
  assets/img/blog_post_13_data_stat_turn.png
  assets/img/blog_post_13_data_validation.png
  assets/img/blog_post_13_graph_edge.png
  assets/img/blog_post_13_metrics_pro_example.png
  assets/img/blog_post_13_multi_definition.png
  blog.html
  blogs/13_bfcl_v3_multi_turn.html
Labels: BFCL-Website

#650 [BFCL Website] Fix Outdated Link; Blog Wording Update
  blogs/13_bfcl_v3_multi_turn.html
  leaderboard.html
Labels: BFCL-Website

#648 [BFCL] Chore: Separate Change Log.
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
Labels: BFCL-General

#655 [BFCL Website] Update Change Log Links
  blogs/12_bfcl_v2_live.html
  blogs/13_bfcl_v3_multi_turn.html
  blogs/8_berkeley_function_calling_leaderboard.html
  leaderboard.html
Labels: BFCL-Website

#656 [BFCL] Bug Fix inference_single_turn_FC function for base_handler
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
Labels: BFCL-General
