Repository ShishirPatil/gorilla, pull requests merged in 2024-12, with the labels that each got.

#804 [BFCL Dataset Revamp 7/n] Augmented Multi-turn Dataset Fix
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_param.json
Labels: BFCL-Dataset

#808 [BFCL] Improve Latency Measurement Accuracy and Enable Default State Logging
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/LOG_GUIDE.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/cohere.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/databricks.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/fireworks.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gorilla.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/mistral.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/nexus.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/openai.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/writer.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/yi.py
Labels: BFCL-General

#811 [BFCL] Replace 'class' with '_class' to Avoid Function Calling Formatting Error
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/data/BFCL_v3_irrelevance.json
  berkeley-function-call-leaderboard/data/BFCL_v3_live_relevance.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multiple.json
Labels: BFCL-Dataset

#810 [BFCL] Added Grok Handler
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/grok.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/openai.py
Labels: BFCL-New Model

#809 [BFCL] Resolve Issue in Gemini Model When No Model Output
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/salesforce.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
Labels: BFCL-General

#782 [BFCL Blog] Update Multi Turn Blog to Reflect New Metric from #733
  blogs/13_bfcl_v3_multi_turn.html
  leaderboard.html
Labels: BFCL-Website

#815 [BFCL] Add Amazon Models `nova-pro-v1.0`, `nova-lite-v1.0`, and `nova-micro-v1.0`
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/model_style.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/nova.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#800 [BFCL] Leaderboard Update - 2024/12/06 (Checkpoint d7e52e5)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#819 [BFCL Chore] Revamp `README.md` for Clearer Instructions
  berkeley-function-call-leaderboard/CONTRIBUTING.md
  berkeley-function-call-leaderboard/LOG_GUIDE.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/TEST_CATEGORIES.md
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/utils/visualize_multi_turn_ground_truth_conversation.py
Labels: BFCL-General

#822 [BFCL] Update gpt-4o Snapshot Version from 2024-08-06 to 2024-11-20
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#826 fix some enum type errors in datasets
  berkeley-function-call-leaderboard/data/BFCL_v3_live_irrelevance.json
  berkeley-function-call-leaderboard/data/BFCL_v3_live_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v3_live_parallel_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v3_live_relevance.json
  berkeley-function-call-leaderboard/data/BFCL_v3_live_simple.json
Labels: BFCL-Dataset

#830 [BFCL Blog] Update BFCL V2 Blog with Latest Data Composition Number
  blogs/12_bfcl_v2_live.html
Labels: BFCL-Website

#831 [Website] Fix Misalign UI
  index_main.js
Labels: BFCL-Website

#828 [BFCL Chore] Add Unit Test for Valid Func Doc Format
  berkeley-function-call-leaderboard/utils/check_func_doc_format.py
Labels: BFCL-General

#825 [BFCL Blog] Revamp v3 Multi Turn Blog
  blogs/13_bfcl_v3_multi_turn.html
  leaderboard.html
Labels: BFCL-Website

#832 update hammer handler and add Hammer2.1 model
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/hammer.py
Labels: BFCL-New Model

#837 [BFCL] Add New Model `Llama-3.3-70B-Instruct`, `Llama-3.3-70B-Instruct-FC`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/llama.py
Labels: BFCL-New Model

#840 [BFCL] Add `o1-2024-12-17` and `o1-2024-12-17-FC`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/openai.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#835 Add Cohere Command R7B, replace older Command R+ handler
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/cohere.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#846 [BFCL Dataset] Ground Truth Error Fix
  berkeley-function-call-leaderboard/data/BFCL_v3_exec_parallel_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v3_javascript.json
  berkeley-function-call-leaderboard/data/BFCL_v3_live_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v3_parallel.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_java.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_javascript.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_parallel.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_parallel_multiple.json
Labels: BFCL-Dataset

#842 [BFCL] Add `Qwen2.5-0.5B-Instruct`, `Qwen2.5-3B-Instruct`, `Qwen2.5-14B-Instruct`, `Qwen2.5-32B-Instruct`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#848 [BFCL] Skip Executable Categories When API Keys Missing
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/utils.py
Labels: BFCL-General

#843 [BFCL] Add `gemini-2.0-flash-exp-FC`, `gemini-2.0-flash-exp`, `gemini-exp-1206-FC`, `gemini-exp-1206`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#838 Check and fix some parameter type errors in possible answers
  berkeley-function-call-leaderboard/data/BFCL_v3_parallel.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_parallel.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_simple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_parallel.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_parallel_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_simple.json
Labels: BFCL-Dataset

#849 [BFCL] Use `N/A` in Score Report for Unevaluated Categories
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
Labels: BFCL-General

#852 [BFCL] possible answer fix: - reigion ->region
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_parallel.json
Labels: BFCL-Dataset

#855 [BFCL] Add Mistral Local Serving Handler and Add New Model `mistralai/Ministral-8B-Instruct-2410`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/mistral_fc.py
Labels: BFCL-New Model

#845 [BFCL] Leaderboard Update - 2024/12/29 (Checkpoint 0cea216)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website
