Repository ShishirPatil/gorilla, pull requests merged in 2024-11, with the labels that each got.

#735 [BFCL] Remove duplicate in eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
Labels: BFCL-General

#712 [BFCL] Support Dynamic max_tokens for Locally-Hosted Models
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
Labels: BFCL-General

#733 [BFCL] Refine Evaluation Metric for Multi Turn Categories
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/long_context.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/math_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/message_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/posting_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/ticket_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/trading_bot.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_checker.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_utils.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/bfcl/utils.py
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/gorilla_file_system.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/math_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/message_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/posting_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/ticket_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/trading_bot.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/travel_booking.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/vehicle_control.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_composite.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/utils/compile_multi_turn_func_doc.py
Labels: BFCL-General, BFCL-Dataset

#751 [BFCL] Prompt Caching for Claude Models
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/claude.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#747 [BFCL] Minor Grammatical Corrections to DEFAULT_SYSTEM_PROMPT
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
Labels: BFCL-General

#749 [BFCL] Remove `Llama-3.2-3B-Instruct-FC` and `Llama-3.2-1B-Instruct-FC` from Leaderboard
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-General

#762 [BFCL Chore] Supply `data_multi_turn.csv` for Multi-Turn Evaluation Results
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/constant.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/constant.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
Labels: BFCL-General

#761 [BFCL] Remove Workaround Patch for Vertex AI Package
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
Labels: BFCL-General

#764 Add exponential retry logic for gemini models
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#767 [BFCL] Remove Duplicate Line in `record_cost_latency`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
Labels: BFCL-General

#770 Fix handling of examples with no tools in Gemini
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
Labels: BFCL-General

#748 [BFCL] Leaderboard Update, 11/17/2024
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#750 [BFCL] Add `claude-3-5-haiku-20241022`, `claude-3-5-haiku-20241022-FC`, `claude-3-5-sonnet-20241022`, `claude-3-5-sonnet-20241022-FC`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#766 [BFCL Website] Add Search Functionality for Leaderboard and Rmove Multi-Turn Composite Column
  assets/css/leaderboard_main.css
  data/forms/formHeaders.json
  data_overall.csv
  index_main.js
  leaderboard.html
Labels: BFCL-Website

#786 [BFCL] some tiny fix in possible_answer
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_java.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_javascript.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_multiple.json
Labels: BFCL-Dataset

#787 [BFCL] Add New Model `Qwen/Qwen2.5-72B-Instruct`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#697 [BFCL] Add DeepSeek-V2.5, DeepSeek-Coder-V2-Instruct-0724, DeepSeek-Coder-V2-Lite-Instruct, DeepSeek-V2-Chat-0628, DeepSeek-V2-Lite-Chat
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/deepseek.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/deepseek_coder.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
Labels: BFCL-New Model

#718 Add minicpm3 4b FC model handler
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/minicpm.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/minicpm_fc.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#755 [BFCL] Add support for Writer models and Palmyra X 004
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/model_style.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/writer.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#790 [BFCL Chore] Add `@final` and `@overrides` Decorators to Class Methods in Model Handler
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/deepseek.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/deepseek_coder.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/gemma.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/glaive.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/glm.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/granite.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/hammer.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/hermes.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/llama.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/llama_fc.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/minicpm.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/phi.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/qwen.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/salesforce.py
Labels: BFCL-General

#779 [BFCL Blog] Update BFCL V3 Blog Images
  assets/img/blog_post_13_data_composition.png
  assets/img/blog_post_13_multi_definition.png
  assets/img/blog_post_13_multi_turn_examples.png
  blogs/13_bfcl_v3_multi_turn.html
Labels: BFCL-Website

#795 [BFCL Chore] Support Multiple Models and Test Category Input for BFCL CLI
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
Labels: BFCL-General

#796 [BFCL] Fix Irrelevance Category Performance for DeepSeek Coder Handler
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/deepseek_coder.py
Labels: BFCL-General

#781 [BFCL Chore] Add Retry Mechanism with Backoff for Rate Limit Handling Across Proprietary Models
  berkeley-function-call-leaderboard/LOG_GUIDE.md
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/openai.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
Labels: BFCL-General

#805 [BFCL] Minor Fix to Claude Handler for Better Prompt Caching
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/claude.py
Labels: BFCL-General
