Repository ShishirPatil/gorilla, pull requests merged in 2024-10, with the labels that each got.

#671 [BFCL] Speed Up Locally-hosted Model Inference Process
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
Labels: BFCL-General

#663 [BFCL] Fix Hanging Inference for OSS Models on GPU Platforms
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
Labels: BFCL-General

#658 [BFCL] Add gemini-1.5-pro-002, gemini-1.5-pro-002-FC, gemini-1.5-pro-001, gemini-1.5-pro-001-FC, gemini-1.5-flash-002, gemini-1.5-flash-002-FC, gemini-1.0-pro-002, gemini-1.0-pro-002-FC
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
Labels: BFCL-New Model

#657 [BFCL] Add Llama-3.2-1B-Instruct, Llama-3.2-3B-Instruct, Llama-3.1-8B-Instruct, Llama-3.1-70B-Instruct
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/llama.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/llama_fc.py
Labels: BFCL-New Model

#642 Add Qwen handler and fix mean_latency calculation error for OSS models
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/qwen.py
Labels: BFCL-New Model

#675 [BFCL] Chore: Refactor File Path Handling and Automate apply_function_credential_config.py
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/_apply_function_credential_config.py
  berkeley-function-call-leaderboard/bfcl/constant.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/constant.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/executable_checker.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/openfunctions_evaluation.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#681 [BFCL Blog] BFCL V3 wording refine
  blogs/13_bfcl_v3_multi_turn.html
Labels: BFCL-Website

#679 [BFCL-v3] Multi-Turn Possible Answer Order Change
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_composite.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_miss_func.json
Labels: BFCL-Dataset

#689 [BFCL] Chore: Improve Multi Turn Error Logs
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_checker.py
Labels: BFCL-General

#696 [BFCL] Add Gemma-2 models
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/gemma.py
  berkeley-function-call-leaderboard/data/BFCL_v3_live_multiple.json
Labels: BFCL-New Model

#621 add a basic bfcl command-line interface
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/executable_checker.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/openfunctions_evaluation.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#701 Fixing BFCL-v3 multi-turn apps
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/message_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
Labels: BFCL-Dataset

#708 [BFCL v1] Update Executable Ground Truth for REST Category
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/data/rest-eval-response_v5.jsonl
Labels: BFCL-Dataset

#709 [BFCL v1] Rephrase Question for Better Clarity for Java & JavaScript Categories
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/data/BFCL_v3_java.json
  berkeley-function-call-leaderboard/data/BFCL_v3_javascript.json
Labels: BFCL-Dataset

#587 [BFCL] Add SGLang Backend Support for OSS Local Inference
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#683 [BFCL] Multi Turn Dataset and Possible Answer Fix
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/message_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_checker.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_composite.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
Labels: BFCL-Dataset

#672 [BFCL] Leaderboard Update, 10/21/2024
  data/forms/formHeaders.json
  data_combined_Sep_20_2024.csv
  data_live.csv
  data_non_live.csv
  data_overall.csv
  index_main.js
  leaderboard.html
Labels: BFCL-Website

#715 [BFCL] Leaderboard Update, #672 Part 2
  data_live.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#717 [BFCL] Chore: Separate out Func Doc for Multi-Turn Categories
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/constant.py
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_composite.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/gorilla_file_system.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/math_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/message_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/posting_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/ticket_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/trading_bot.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/travel_booking.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/vehicle_control.json
Labels: BFCL-General

#719 [BFCL] Multi Turn Dataset and Possible Answer Fix (Base Category)
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/message_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/posting_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/ticket_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/trading_bot.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
Labels: BFCL-Dataset

#722 [BFCL] Multi Turn Dataset Fix (Function Doc)
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/math_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/message_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/posting_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/ticket_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/trading_bot.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/gorilla_file_system.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/math_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/message_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/posting_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/ticket_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/trading_bot.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/travel_booking.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/vehicle_control.json
  berkeley-function-call-leaderboard/utils/_compile_helper.py
  berkeley-function-call-leaderboard/utils/compile_multi_turn_func_doc.py
Labels: BFCL-Dataset

#723 [BFCL] Multi Turn Dataset Fix (Base Category)
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/message_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/posting_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/trading_bot.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_utils.py
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/gorilla_file_system.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/message_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/posting_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/ticket_api.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/trading_bot.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/travel_booking.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/vehicle_control.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-Dataset

#724 [BFCL] Multi Turn Pipeline Robustness Patch
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_utils.py
Labels: BFCL-General

#731 [BFCL] Small typo in variable name in travel_booking.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
Labels: BFCL-General

#730 [BFCL] Patch #724
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_utils.py
Labels: BFCL-General

#728 [BFCL] Multi Turn Dataset Fix (Miss Func & Long Context)
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/message_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/ticket_api.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/trading_bot.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/multi_turn_func_doc/ticket_api.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_miss_func.json
Labels: BFCL-Dataset

#732 [BFCL] Multi Turn Dataset Fix (Miss Param)
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_miss_param.json
Labels: BFCL-Dataset

#725 [BFCL] Update Eval Metric for Multi Turn Irrelevance Scenarios
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_checker.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/multi_turn_utils.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/gemma.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/llama_fc.py
  berkeley-function-call-leaderboard/bfcl/model_handler/oss_model/phi.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/cohere.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/databricks.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/mistral.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/nvidia.py
  berkeley-function-call-leaderboard/bfcl/model_handler/proprietary_model/openai.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/bfcl/utils.py
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_miss_param.json
Labels: BFCL-General
