Repository ShishirPatil/gorilla, pull requests merged in 2025-08, with the labels that each got.

#1130 updated the model_config for qwen, grok, mistral model names
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
Labels: BFCL-New Model

#1144 Add api support for GLM-4.5.
  berkeley-function-call-leaderboard/bfcl_eval/.env.example
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/glm.py
Labels: BFCL-New Model

#1131 added api support for moonshotai kimi-k2
  berkeley-function-call-leaderboard/bfcl_eval/.env.example
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/kimi.py
Labels: BFCL-New Model

#1127 Modified bfcl v4 blog formatting and consistency
  blogs/15_bfcl_v4_web_search.html
  blogs/16_bfcl_v4_memory.html
  blogs/17_bfcl_v4_prompt_variation.html
Labels: BFCL-General, BFCL-Website

#1126 Fix qwen3 inference data and qwenfc handler chat template
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/qwen.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/qwen_fc.py
Labels: BFCL-General
