Repository ShishirPatil/gorilla, pull requests merged in 2025-02, with the labels that each got.

#897 [BFCL] Update tool construction for Palmyra models
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
Labels: BFCL-General

#892 Added compute_exchange_rate to multi_turn_base entry 180 ground truth
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
Labels: BFCL-Dataset

#900 Add CALM models
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#902 [BFCL] Add New Model `gemini-2.0-flash-001`, `gemini-2.0-flash-lite-preview-02-05`, `gemini-2.0-pro-exp-02-05`.
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#899 [BFCL] Leaderboard Update - 2025/02/09 (Checkpoint 910460e)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#906 chore: added snippet for hf datasets compatibility
  berkeley-function-call-leaderboard/data/README.md
Labels: BFCL-General

#907 Update model_metadata.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
Labels: BFCL-General

#908 [BFCL] Leaderboard Update - 2025/02/11 (Checkpoint 8bf675c)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#913 Rename CALM to CoALM
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-General

#917 Bitagent 8b submission
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#921 [BFCL] Leaderboard Update - 2025/02/27 (Checkpoint e10b7f3)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website
