Repository ShishirPatil/gorilla, pull requests merged in 2025-01, with the labels that each got.

#859 [BFCL] Rename Directories: `proprietary_model`->`api_inference`, `oss_model`->`local_inference` for Better Clarity
  berkeley-function-call-leaderboard/CONTRIBUTING.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/__init__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/cohere.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/databricks.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/deepseek.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/fireworks.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/functionary.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/gogoagent.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/gorilla.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/grok.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/mistral.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/nexus.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/nova.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/nvidia.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/openai.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/writer.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/yi.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/__init__.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/deepseek.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/deepseek_coder.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/gemma.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/glaive.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/glm.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/granite.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/hammer.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/hermes.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/llama.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/llama_fc.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/minicpm.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/minicpm_fc.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/mistral_fc.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/phi.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/qwen.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/salesforce.py
Labels: BFCL-General

#860 [BFCL Chore] Ensure Correct Input Format for Eval Checker
  berkeley-function-call-leaderboard/bfcl/utils.py
Labels: BFCL-General

#867 [BFCL] Leaderboard Update - 2024/12/29 (Checkpoint 0cea216), Part 2
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
Labels: BFCL-Website

#865 [BFCL] Fix `live_parallel_multiple_9-8-0` copy-paste issue
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_parallel_multiple.json
Labels: BFCL-Dataset

#880 [BFCL Chore] Implement `retry_with_backoff` for Amazon Nova Handler
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/cohere.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/deepseek.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/nova.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/openai.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
Labels: BFCL-General

#872 [BFCL] Fix `live_simple_183-108-0`
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_simple.json
Labels: BFCL-Dataset

#870 [BFCL] Fix `live_simple_44-18-0` and `live_simple_45-18-1`
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_live_simple.json
Labels: BFCL-Dataset

#881 [BFCL] Fix Nova Handler for Consecutive User Prompt Issue
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/nova.py
Labels: BFCL-General

#888 Add support for QwQ and Sky-T1-32B-Preview
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#889 [BFCL] Leaderboard Update - 2025/01/18 (Checkpoint fb5313f)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#887 add handler for Bielik
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/bielik.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/quick_testing_oss.py
Labels: BFCL-New Model

#893 [BFCL Chore] Align Score File `id` with Result File Test Case IDs
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
Labels: BFCL-General

#895 Fix minor typo in default system prompt without func
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
Labels: BFCL-General

#894 Falcon3 support
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/falcon_fc.py
Labels: BFCL-New Model
