Repository ShishirPatil/gorilla, pull requests merged in 2025-07, with the labels that each got.

#1062 [BFCL] Introduce OpenAI Responses API Handler + o4-mini/o3 models
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/supported_models.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/databricks.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/deepseek.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/dm_cito.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/fireworks.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/functionary.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/gogoagent.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/grok.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/ling.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/mining.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/novita.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/nvidia.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/openai_completion.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/openai_response.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/qwen.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/writer.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/yi.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/glm.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/model_style.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/utils.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#1100 [BFCL] nit: Print traceback on generation error
  berkeley-function-call-leaderboard/bfcl_eval/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/base_oss_handler.py
Labels: BFCL-General

#1099 [BFCL] Migrate Gemini Inference to Google AI Studio
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/.env.example
  berkeley-function-call-leaderboard/bfcl_eval/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/gemini.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/model_style.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/utils.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#1102 [BFCL] Update Gemini model checkpoints to stable 2.5 releases
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/supported_models.py
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/gemini.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/utils.py
Labels: BFCL-New Model

#1098 [BFCL] Reintroduce latency stats for local models, update cost calculation
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/column_headers.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/eval_runner_helper.py
Labels: BFCL-General

#1096 BitAgent Bounty Model Submission
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/supported_models.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/bitagent.py
Labels: BFCL-New Model

#1110 [BFCL] Contact Customer Support Multi Turn & Vehicle Control #914
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
Labels: BFCL-Dataset
