Repository ShishirPatil/gorilla, pull requests merged in 2025-03, with the labels that each got.

#922 [BFCL] Add New Model `gpt-4.5-preview-2025-02-27`, `gpt-4.5-preview-2025-02-27-FC`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#924 [BFCL] fix bug in how score_dir is handled for bfcl evaluate
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
Labels: BFCL-General

#901 [BFCL] Add New Model `DeepSeek-R1`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/deepseek.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
Labels: BFCL-New Model

#935 Make all import paths absolute.
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/trading_bot.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/multi_turn_eval/func_source_code/vehicle_control.py
Labels: BFCL-General

#933 Move logic to eval a task in a separate function.
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
Labels: BFCL-General

#938 [BFCL] Add _unused Suffix to Unused Dataset Files in the BFCL Benchmark
  berkeley-function-call-leaderboard/bfcl/constant.py
  berkeley-function-call-leaderboard/bfcl/utils.py
  berkeley-function-call-leaderboard/data/BFCL_v3_chatable_unused.json
  berkeley-function-call-leaderboard/data/BFCL_v3_multi_turn_composite_unused.json
  berkeley-function-call-leaderboard/data/BFCL_v3_sql_unused.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_composite_unused.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_sql_unused.json
Labels: BFCL-General

#926 [BFCL] Support Local Inference for `deepseek-ai/DeepSeek-R1`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/deepseek_reasoning.py
Labels: BFCL-New Model

#925 [BFCL] Add Support for `Qwen2.5` Models in Function Calling Mode
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/qwen_fc.py
Labels: BFCL-New Model

#923 [BFCL] Add New Model `claude-3-7-sonnet-20250219`, `claude-3-7-sonnet-20250219-FC`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#941 [BFCL] Add handler and meta info for ToolACE-2-8B
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#944 [BFCL] Reorganized All `constant.py` Files to a `constants` Folder
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/_apply_function_credential_config.py
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/constants/__init__.py
  berkeley-function-call-leaderboard/bfcl/constants/category_mapping.py
  berkeley-function-call-leaderboard/bfcl/constants/column_headers.py
  berkeley-function-call-leaderboard/bfcl/constants/default_prompts.py
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/constants/type_mappings.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/ast_eval/ast_checker.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/ast_eval/type_convertor/java_type_converter.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/ast_eval/type_convertor/js_type_converter.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/executable_checker.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/claude.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/cohere.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/gemini.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/mistral.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/nova.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/openai.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/yi.py
  berkeley-function-call-leaderboard/bfcl/model_handler/base_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/base_oss_handler.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/constant.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/glm.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/granite.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/hermes.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/minicpm_fc.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/salesforce.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
  berkeley-function-call-leaderboard/bfcl/utils.py
  berkeley-function-call-leaderboard/openfunctions_evaluation.py
  berkeley-function-call-leaderboard/utils/check_func_doc_format.py
  berkeley-function-call-leaderboard/utils/check_illegal_python_param_name.py
  berkeley-function-call-leaderboard/utils/compile_multi_turn_func_doc.py
  berkeley-function-call-leaderboard/utils/visualize_multi_turn_ground_truth_conversation.py
Labels: BFCL-General

#942 [BFCL] Add New Models `gemini-2.0-flash-lite-001`, `gemini-2.0-flash-thinking-exp-01-21`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#939 [BFCL] Add Google `Gemma-3` Series Models
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/eval_checker/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/gemma.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/qwen_fc.py
Labels: BFCL-New Model

#946 [BFCL] Leaderboard Update - 2025/03/17 (Checkpoint `f810631`)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#949 [BFCL] Move `model_metadata.py` to `constants` folder
  berkeley-function-call-leaderboard/CONTRIBUTING.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
Labels: BFCL-General

#951 Add Cohere Command A
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#955 [BFCL] Leaderboard Update - 2025/03/22 (Checkpoint 96b1f18)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#961 Reformatted Supported Model Table
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
Labels: BFCL-General

#960 [BFCL] Use HTTPS instead of HTTP for OMDB
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/data/executable_python_function.py
Labels: BFCL-General, BFCL-Dataset

#962 [BFCL] Fix ambiguity in exec_parallel_10 question
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/data/BFCL_v3_exec_parallel.json
Labels: BFCL-Dataset

#963 [BFCL] Fix wrong date in live_simple_205-116-13
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/data/BFCL_v3_live_simple.json
Labels: BFCL-Dataset

#953 [BFCL] Moved Ground Truths for Executable Tests to `./data/possible_answer` Folder
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/data/BFCL_v3_exec_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v3_exec_parallel.json
  berkeley-function-call-leaderboard/data/BFCL_v3_exec_parallel_multiple.json
  berkeley-function-call-leaderboard/data/BFCL_v3_exec_simple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_exec_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_exec_parallel.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_exec_parallel_multiple.json
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_exec_simple.json
Labels: BFCL-General, BFCL-Dataset
