Repository ShishirPatil/gorilla, pull requests merged in 2025-04, with the labels that each got.

#954 [BFCL] Reorganizing Codes in `./bfcl/eval_checker/executable_eval/data/`
  berkeley-function-call-leaderboard/CONTRIBUTING.md
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/data/__init__.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/data/rest-eval-response_v5.jsonl
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/executable_checker.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/executable_eval/executable_python_function.py
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_rest.json
  berkeley-function-call-leaderboard/data/sanity_check/api_status_check_ground_truth_executable.json
  berkeley-function-call-leaderboard/data/sanity_check/api_status_check_ground_truth_rest.json
Labels: BFCL-General, BFCL-Dataset

#974 [BFCL] Add `gemini-2.5-pro` to the Leaderboard
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#976 [BFCL] Update Retry Logic for Gemini Models
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/gemini.py
Labels: BFCL-General

#979 [BFCL] Fix Typo in `multi_turn_base_166` Ground Truth.
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/data/possible_answer/BFCL_v3_multi_turn_base.json
Labels: BFCL-Dataset

#972 Add Salesforce xLAM-2 series of model handlers and update vLLM version from 0.6.3 to 0.6.5
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/salesforce.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/salesforce_llama.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/salesforce_qwen.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#980 feat. Add Novita LLM Models API
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/novita.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/model_style.py
  berkeley-function-call-leaderboard/bfcl/model_handler/utils.py
Labels: BFCL-General, BFCL-New Model

#981 [BFCL] Add New Models `Llama-4-Scout`, `Llama-4-Maverick`
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/CONTRIBUTING.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/llama.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/llama_3_1.py
Labels: BFCL-New Model

#983 [BFCL] Leaderboard Update - 2025/04/13 (Checkpoint 9108a65)
  assets/css/leaderboard_main.css
  data/forms/formHeaders.json
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  index_main.js
  leaderboard.html
Labels: BFCL-Website

#992 Fix Typo in Model Name for `xLAM-2-8b-fc-r`
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
Labels: BFCL-General

#928 Add ThinkAgents/ThinkAgent-1B
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/think_agent.py
Labels: BFCL-New Model

#988 [BFCL] Add mistral-large-2411 and mistral-small-2503
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#977 Add xiaoming-14B
  berkeley-function-call-leaderboard/.env.example
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/api_inference/mining.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-New Model

#1000 [BFCL] Add `microsoft/phi-4` to the Leaderboard
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
  berkeley-function-call-leaderboard/bfcl/model_handler/local_inference/phi.py
Labels: BFCL-New Model

#1006 Bump `writer-sdk` Dependency Version
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#994 [BFCL] Leaderboard Update - 2025/04/25 (Checkpoint e7f7365)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  leaderboard.html
Labels: BFCL-Website

#999 [BFCL] add model config
  berkeley-function-call-leaderboard/CONTRIBUTING.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/__main__.py
  berkeley-function-call-leaderboard/bfcl/_llm_response_generation.py
  berkeley-function-call-leaderboard/bfcl/constants/eval_config.py
  berkeley-function-call-leaderboard/bfcl/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl/constants/model_metadata.py
  berkeley-function-call-leaderboard/bfcl/constants/supported_models.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/ast_eval/ast_checker.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl/eval_checker/eval_runner_helper.py
  berkeley-function-call-leaderboard/bfcl/model_handler/handler_map.py
Labels: BFCL-General
