Repository ShishirPatil/gorilla, pull requests merged in 2025-06, with the labels that each got.

#1040 [BFCL] Added support for Mistral Medium 3
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl/constants/supported_models.py
Labels: BFCL-New Model

#1050 fix: loosen openai requirements to be >= 1.76.0
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#1055 [BFCL] CI: Add “Publish to PyPI” workflow with CalVer-serial auto-versioning
  .github/workflows/bfcl-pipy-release.yml
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-General

#1057 [BFCL] Replace Exception with SyntaxError for Java and JavaScript Parsers
  .github/workflows/bfcl-pipy-release.yml
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/parser/java_parser.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/parser/js_parser.py
Labels: BFCL-General

#1061 [BFCL] Support DashScope API Inference for `Qwen3` Series
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/supported_models.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/qwen.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/qwq.py
Labels: BFCL-New Model

#1058 [BFCL] Add type hinting
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/utils.py
Labels: BFCL-General

#1032 Add support for llama-3.1-nemotron-ultra-253b-v1 to BFCL
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/supported_models.py
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/eval_runner.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/nemotron.py
Labels: BFCL-New Model

#1053 [BFCL] Leaderboard Update - 2025/06/14 (Checkpoint 1bb65c9)
  data_live.csv
  data_multi_turn.csv
  data_non_live.csv
  data_overall.csv
  index_main.js
  leaderboard.html
Labels: BFCL-Website

#1060 _get_item() can not handle the "." directory in path string
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/multi_turn_eval/func_source_code/gorilla_file_system.py
Labels: BFCL-General, BFCL-Dataset

#966 [BFCL] Multi-turn TravelAPI book_flight() Fix
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/bfcl_eval/data/multi_turn_func_doc/travel_booking.json
  berkeley-function-call-leaderboard/bfcl_eval/data/possible_answer/BFCL_v3_multi_turn_base.json
  berkeley-function-call-leaderboard/bfcl_eval/data/possible_answer/BFCL_v3_multi_turn_long_context.json
  berkeley-function-call-leaderboard/bfcl_eval/data/possible_answer/BFCL_v3_multi_turn_miss_func.json
  berkeley-function-call-leaderboard/bfcl_eval/data/possible_answer/BFCL_v3_multi_turn_miss_param.json
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
Labels: BFCL-Dataset

#1068 [BFCL] Fix prompt concatenation bug in Qwen template
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/qwen.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/local_inference/qwen_fc.py
Labels: BFCL-General

#1079 feature: Added RZN-T to the suite of models.
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/scripts/visualize_multi_turn_ground_truth_conversation.py
Labels: BFCL-New Model

#1084 Fix typo in month parameter (Febuary -> February)
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl_eval/data/possible_answer/BFCL_v3_parallel_multiple.json
Labels: BFCL-Dataset

#1085 Update irrelevance_232 question
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_irrelevance.json
Labels: BFCL-Dataset

#1087 [BFCL] Fixed missing airport route entries
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/multi_turn_eval/func_source_code/travel_booking.py
Labels: BFCL-Dataset

#1086 [BFCL] Resolve duplicated 'live-relevance_3-3-0' test entry id
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/bfcl_eval/data/BFCL_v3_live_relevance.json
Labels: BFCL-Dataset

#1034 Added support for Claude 4 family models to BFCL
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/supported_models.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/claude.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#1088 Add DM-Cito-8B-v2
  berkeley-function-call-leaderboard/SUPPORTED_MODELS.md
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/constants/supported_models.py
Labels: BFCL-New Model

#1089 Restrict GitHub Actions Workflow to Run Only on Source Repository
  .github/workflows/bfcl-pipy-release.yml
  berkeley-function-call-leaderboard/CHANGELOG.md
Labels: BFCL-General
