Repository ShishirPatil/gorilla, pull requests merged in 2025-09, with the labels that each got.

#1166 [BFCL]: Changed BFCL leaderboard ordering
  assets/css/leaderboard_main.css
  data/forms/formHeaders.json
  index_main.js
Labels: BFCL-Website

#1181 [BFCL] Update readme information
  README.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl_eval/data/README.md
Labels: BFCL-General

#1190 [BFCL] Add support for Cohere Command A Reasoning
  berkeley-function-call-leaderboard/bfcl_eval/constants/model_config.py
  berkeley-function-call-leaderboard/bfcl_eval/model_handler/api_inference/cohere.py
  berkeley-function-call-leaderboard/pyproject.toml
Labels: BFCL-New Model

#1185 [BFCL] Add `--partial-eval` flag for subset evaluation and fix length-mismatch AssertionError (#1159)
  berkeley-function-call-leaderboard/CHANGELOG.md
  berkeley-function-call-leaderboard/README.md
  berkeley-function-call-leaderboard/bfcl_eval/__main__.py
  berkeley-function-call-leaderboard/bfcl_eval/eval_checker/eval_runner.py
Labels: BFCL-General

#1180 [BFCL v4] Added Leaderboard Composition BFCL v4
  blogs/13_bfcl_v3_multi_turn.html
  blogs/15_bfcl_v4_web_search.html
Labels: BFCL-Website

#1196 Fix dataset ID format in `BFCL_v4_simple_javascript.json`
  berkeley-function-call-leaderboard/bfcl_eval/data/possible_answer/BFCL_v4_simple_javascript.json
Labels: BFCL-Dataset
